html, body, div, span, h4, h5, a, img, ul, ol {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    vertical-align: baseline;
}

h1 {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Times New Roman B", sans-serif;
    font-weight: bold;
    vertical-align: baseline;
    font-size: 34px;
    color: #2d384c;
    text-align: center;
    max-width: 90%;
}

h2 {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Times New Roman", sans-serif;
    font-weight: normal;
    vertical-align: baseline;
    font-size: 34px;
    color: #2d384c;
    text-align: center;
    max-width: 90%;
}

h3 {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    vertical-align: baseline;
    font-size: 34px;
    color: white;
    text-align: center;
    max-width: 90%;
}

p {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    vertical-align: baseline;
    font-size: 20px;
    color: #4c5f7f;
    text-align: center;
    max-width: 70%;
}

h6 {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Roboto Light", sans-serif;
    font-size: 14px;
    color: white;
    vertical-align: baseline;
}

strong {
    color: #2d384c;
    font-weight: 800;
}

@font-face {
    font-family: Roboto;
    src: url("../../asset/Roboto/Roboto-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Light";
    src: url("../../asset/Roboto/Roboto-Light.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Times New Roman B";
    src: url("../../asset/Times New Roman/times new roman bold.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Times New Roman";
    src: url("../../asset/Times New Roman/times new roman.ttf");
    font-weight: 400;
    font-style: normal;
}
